- notable = nil unless defined?(:notable)
- unless notable
  - if params[:notable_id] && params[:notable_type]
    - notable = BlobStruct.new :id => params[:notable_id], :notable_type => params[:notable_type]
%table.tabular{:cellspacing => 0}
  - if notable
    %thead
      %tr
        %th
          %span Notes
          .actions= link_to image_tag('/fluxx_engine/theme/default/images/icons/add.png', :class=> 'add-button'), new_note_path(:note => {:notable_id => notable.id, :notable_type => notable.class.name}), :class => 'to-modal', 'data-is-success' => '.show', 'data-on-success' => 'refreshCaller,close', :title => "Add Note"
  %tbody
    - if !models || models.empty?
      %tr
        %td= "No Notes"
    - else
      - models.sort_by{|note| (-1 * note.created_at.to_i) if note.created_at}.each do |model|
        %tr
          %td
            = link_to model.note, model, :class => 'to-modal'
            <br/>
            %span
              - if model.created_by
                By
                = model.created_by.full_name 
              - if model.created_at
                Added at
                = model.created_at.ampm_time
                on
                = model.created_at.full
              - else
                no timestamp
              - if can_current_user_edit_create_users?
                %span.delete-button= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png"), note_path(model), {:class => 'as-delete'}
