
- if current_user.has_role? 'admin'
  = form.input :login, :label => 'Login:'
- if current_user.has_role?('admin') || current_user.id == model.id 
  = form.input :password, :label => 'Password:'
  = form.input :password_confirmation, :label => 'Password Confirmation:'
  = form.input :time_zone, :as => :time_zone, :priority_zones => /Pacific Time|Beijing/
= form.input :salutation, :label => "Prefix"
= form.input :first_name, :label => "First Name"
= form.input :middle_initial, :label => "Middle Name"
= form.input :last_name, :label => "Last Name"
= form.input :email, :label => "Email"
= form.input :personal_phone, :label => "Direct Phone"
= form.input :personal_mobile, :label => "Mobile Phone"
= form.input :work_fax, :label => "Direct Fax"

= form.input :personal_geo_country, :label => 'Country:', :as => :select, :input_html => {:class => 'geo_country_select', 'data-related-child'.to_sym => '.geo-state-select'}, :collection => GeoCountry.all.map {|country| [country.name, country.id]}
- state_collection = form.object.personal_geo_country ? form.object.geo_country.find_related_geo_states : []
= form.input :personal_geo_state, :label => 'State/Province: ', :as => :select, :input_html => {:class => 'geo-state-select', 'data-param'.to_sym => 'geo_country_id', 'data-src'.to_sym => geo_states_path(:format => 'json'), 'data-cache'.to_sym => 'geo_state_select'}, :collection => state_collection.map {|state| [state.name, state.id]}
= form.input :personal_city, :label => "City"
= form.input :personal_postal_code, :label => "Postal Code"
= form.input :personal_phone, :label => "Home Phone"
= form.input :personal_email, :label => "Personal Email"
= form.input :blog_url, :label => "Personal Blog", :placeholder => 'http://'
= form.input :blog_url, :label => "Personal Blog"
= form.input :twitter_url, :label => 'Personal Twitter:'
= form.input :birth_at, :label => 'Birthday:'
= form.input :assistant_name, :label => 'Assistant Name:'
= form.input :assistant_phone, :label => 'Assistant Phone:'
= form.input :assistant_email, :label => 'Assistant Email:'
= form.commit_button "Create Person"
