%div.partial
  %h3
    = "Roles"
    - if current_user.has_role? 'admin'
      - user_admin_role = model.has_role? 'admin'
      %span.caption
        - if user_admin_role
          %span.caption= "(Admin)"
          %span.actions= link_to 'remove admin role', user_admin_role, {:class => 'as-delete', 'data-on-success' => 'refreshCaller'}
        - else
          %span.actions= link_to 'add admin role', role_users_path(:role_user => {:user_id => model.id, :name => 'Admin'}), {:class => 'as-post', 'data-on-success' => 'refreshCaller'}

  %h4
    = "Program Roles"
    %span.actions= link_to 'add role', new_role_user_path(:role_user => {:user_id => model.id}), :class => 'to-modal', 'data-on-success' => 'refreshCaller,close'

  - model.role_users.where(:roleable_type => 'Program').all.each do |ru|
    - program = Program.find ru.roleable_id
    %div
      = ru.name
      ,
      = program.name
      %span.actions= link_to "delete", ru, {:class => 'as-delete', 'data-on-success' => 'refreshCaller'}
