%h1
  Reset your password

%div.flash= raw "#{raw flash[:info]} #{raw flash[:error]}"

= form_for @user, :url => reset_password_url do |f|
  %p
  = f.label :password
  %br
  = f.password_field :password
  %p
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  = f.submit "Reset Password and Log in"
