%div.flash= raw "#{raw flash[:info]} #{raw flash[:error]}"
- if !flash[:notice].nil?
  %div.error_explanation
    %ul
      %li= flash[:notice]

%h2
  Reset your password

= form_for @user, :url => reset_password_url do |f|
  %p
  = f.label :password
  %p
  = f.password_field :password
  %p
  = f.label :password_confirmation
  %p
  = f.password_field :password_confirmation
  %p= f.submit "Reset Password and Log in"
    %br
      &nbsp;
    %p
