%h2= model.name
%p
  - if model.alert_enabled?
    Alert is <strong>Enabled</strong>
  - else
    Alert is <strong>Disabled</strong>

%h3
  Subject
%p= model.subject

%h3
  Body
%p= model.body


%h3
  Recipients
%p= model.recipients.map(&:full_name).to_sentence

- unless model.class.recipient_roles.empty?
  %h3
    Role Recipients
  - recipient_roles = model.class.recipient_roles.map{|rr, hash| model.send(rr) ? hash[:friendly_name] : nil }.compact
  %p= recipient_roles.empty? ? "None" : recipient_roles.to_sentence

= render :partial => "show_#{model.class.name.underscore}", :locals => { :model => model } unless model.class == Alert
%hr
%p
model id: <input name=test_model_id class='code-model-id'>
= link_to "Generate Test Alert", alert_path(:generate_document => 1, :printable => 1), :class => "generate-test-document", :target => "_blank"
