- documentable = nil unless defined?(:documentable)
- unless documentable
  - if params[:documentable_id] && params[:documentable_type]
    - documentable = BlobStruct.new :id => params[:documentable_id], :documentable_type => params[:documentable_type]


%table.tabular{:cellspacing => 0}
  - if documentable
    %thead
      %tr
        %th
          %span Documents
          .actions= link_to image_tag('/fluxx_engine/theme/default/images/icons/add.png', :class=> 'add-button'), model_documents_path(:model_document => {:documentable_id => documentable.id, :documentable_type => documentable.class.name}), :class => 'to-upload', 'data-is-success' => '.show', 'data-on-success' => 'refreshCaller,close', 'data-extensions'.to_sym=>"txt,zip,gz,pdf,png,jpg,gif", :title => "Add Document"
  %tbody
    - if !models || models.empty?
      %tr
        %td No Documents
    - else
      - models.sort_by{|model| (-1 * model.created_at.to_i) if model.created_at}.each do |model|
        %tr
          %td
            = link_to(truncate(model.document_file_name, :length => 25), model.document.url, :target => '_blank', :class => 'air-download')
            %span
              - if model.created_by
                By
                = model.created_by.full_name 
              - if model.created_at
                Added at
                = model.created_at.ampm_time
                on
                = model.created_at.full
              - else
                no timestamp
            - if can_current_user_edit_create_users?
              %span.delete-button= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png"), model_document_path(model), :class => 'as-delete'
        




