%div.partial
  %h3
    = "Satellites"
    %span.actions
      - if can_current_user_edit_create_organizations?
        = link_to image_tag("/images/fluxx_engine/theme/default/icons/add.png"), new_organization_path(:organization => {:parent_org_id => model.id}), :class => 'to-modal', :title => "Add a Satellite", 'data-on-success' => 'refreshCaller,close'
  - if model.satellite_orgs.empty?
    %p.caption No satellite offices available
  - model.satellite_orgs.each do |satellite|
    %div
      - if can_current_user_edit_create_organizations?
        %span.actions
          - if !respond_to?(:detailed) || (respond_to?(:detailed) && !detailed)
            %span.details_link= link_to image_tag("/images/fluxx_engine/theme/default/icons/page_white_magnify.png"), organization_url(:id => satellite.id, :show_satellite => true), :class => 'to-modal', :title => "Show Satellite Details"
          %span.edit_link= link_to image_tag("/images/fluxx_engine/theme/default/icons/page_edit.png"), edit_organization_url(satellite), :class => 'to-modal', :title => "Edit Satellite", 'data-on-success' => 'refreshCaller,close'
          %span.delete-button= link_to image_tag("/images/fluxx_engine/theme/default/icons/delete.png"), organization_path(satellite), {:class => 'as-delete', :title => "Delete Satellite", 'data-on-success' => 'refreshCaller'}
      %h4= satellite.name
      = render :partial => "insta/show/contact_info", :locals => { :location => satellite, :detailed => false}