%h1
  %span.edit_link
  - if can_current_user_edit_create_organizations?
    = link_to 'add a satellite', new_organization_path(:organization => {:parent_org_id => model.id}), :class => 'to-modal'
  - if model.satellite_orgs.empty?
    %p No satellite offices available
  - model.satellite_orgs.each do |satellite|
  
    %div.item
      - if can_current_user_edit_create_organizations?
        %span.delete-button= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png"), organization_path(satellite), {:class => 'as-delete'}
        %span.edit_link= link_to 'edit', edit_organization_url(satellite), :class => 'to-modal'

      - if !respond_to?(:detailed) || (respond_to?(:detailed) && !detailed)
        %span.details_link= link_to 'show details', organization_url(satellite), :class => 'to-modal'
      = render :partial => "organization_location", :locals => { :location => satellite, :detailed => false}