-workflow, trans_workflow = MachineWorkflow.find_workflow Request.new
-if workflow
  -element = FormElement.new({:machine_workflow_id => workflow.id})
  -fields = element.all_attributes(:show)
  -if fields && !fields.empty?
    =link_to 'Add Existing Field To Template', new_form_element_path(:view => :index, :form_element => {:machine_workflow_id => workflow.id, :element_type => :attribute, :attribute_name => fields.first[0]}), :class => 'to-modal', 'data-on-success' => 'refreshCaller,close'

= form.input :document, :label => "Document:", :as => :text, :input_html => {:class => 'wysiwyg', 'data-wysiwyg-buttons' => 'bold,italic,underline,strikethrough,unorderedlist,link,image,disable'}
= form.input :description
= form.input :model_type, :as => :hidden
-unless model.id
  -form.object.document_type = "Document"
  = form.input :document_type, :as => :hidden
- model_type = Kernel.const_get(form.object.model_type) rescue nil
- if model_type and model_type.respond_to? :all_states
  = form.input :generate_state, :collection => ((model_type.all_states).map{|state| [model_type.state_to_english_translation(state), state]}.compact)
= form.input :category
- parent_docs = ModelDocumentTemplate.potential_parents.all
= form.input :related_model_document_template, :as => :select, :collection => parent_docs.map {|doc| [doc.description, doc.id]}
= form.input :disposition, :label => "Disposition", :as => :select, :collection => [['Body', 'body'], ['Header', 'header'], ['Footer', 'footer']]
= form.input :do_not_insert_page_break, :label => "Do not insert page break between iterations?", :as => :boolean
= form.input :display_in_adhoc_list, :label => "Display in the ad-hoc document/letter generation list?", :as => :boolean
- unless model.new_record? || !model.model_type
  %hr
  %p
  model id: <input name=test_model_id class='code-model-id'>
  = link_to "Generate Test Document", model_document_template_path(:generate_document => 1, :printable => 1), :class => "generate-test-document", :target => "_blank"


= form.commit_button
