= form.input :document, :label => "Document:", :as => :text, :input_html => {:class => 'wysiwyg', 'data-wysiwyg-buttons' => 'bold,italic,underline,strikethrough,unorderedlist,link,image,disable'}
= form.input :model_type
= form.input :document_type
= form.input :filename
= form.input :description
= form.input :category

= form.commit_button
