%h2
  %span Relationships
  .actions
    - if can_current_user_edit_create_users? 
      = link_to 'add a relationship', new_user_organization_path(:user_organization => {:user_id => model.id}), :class => 'to-modal'

%div.org_row
- if(model.user_organizations.size > 0)
  - model.user_organizations.each do |user_org|
    %div.edit_row_links
      - if can_current_user_edit_create_organizations?
        %span.temp
          = link_to 'edit', edit_user_organization_path(user_org),
           :class => 'fluxx-card-link-to-modal fluxx-card-link-modal-action-onclose-reload-self fluxx-card-modal-close-on-success[.fluxx-card-show]'
          &nbsp;&nbsp;
          = link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png"), user_organization_path(user_org), {:class => 'as-delete'}
      
      - if model.primary_user_organization == user_org
        <br />Primary Org
      - else
        <br />
        - if can_current_user_edit_create_organizations?
          - link_to_update('make primary', @model, {:class => 'fluxx-card-form-to-self'}) do |form|
            = form.hidden_field :primary_user_organization_id, :value => user_org.id
    - unless user_org.department.blank?
      = user_org.title
      ,
    - unless user_org.department.blank?
      = user_org.department
      ,
    = user_org.organization.name
       
  <br clear="all"/>
      
- else
  No links to organizations
