%div.flash= raw "#{raw flash[:info]} #{raw flash[:error]}"
- if !flash[:notice].nil?
  %div.error_explanation
    %ul
      %li= flash[:notice]

%h2 Forgot Password
= form_for @user_session, :as => :user_session, :url => forgot_password_url do |f|
  %p
  = f.label :email
  %p

    = f.text_field :email, :placeholder => 'Login'
  %p= f.submit "Send Password Reset Link"
  %br
    &nbsp;
  %p
